.title-container {
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 30px;
  
  }
  
 .title {
    font-size: 30px;
    font-weight: lighter;
  }
  
  .dotted {
    height: 100%;
    width: 100%;
    background-image: -webkit-repeating-radial-gradient(center center, #5225bd, #5225bd 1.5px, transparent 1.5px, transparent 100%);
    background-image: repeating-radial-gradient(center center, #5225bd, #5225bd 1.5px, transparent 1.5px, transparent 100%);
    background-size: 15px 15px;
  }
  